.nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.navbar {
  position: absolute;
  top: 80%;
  left: 0;
  z-index: 5;
  background-color: lightgray;
  width: 100%;
}

ol, ul {
  padding-left: 0;
}

.link-mobile:hover {
  background-color: #84cc16;
  color: white;
}

.line {
  margin: 2px 0;
  height: 5px;
  width: 30px;
  background-color: #000;
}

.parent-container,
.burger {
  display: flex;
  flex-direction: column;
}

.burger {
  cursor: pointer;
}